<li
  class="list-group-item"
  [class.active]="task === selectedTask"
  [ngClass]="{ 'task-complete': task && task.completed }"
  (click)="onSelect()"
>
  <div>
    {{ task.task }}
  </div>

  <div class="action-buttons">
    <button
      type="button"
      class="btn btn-warning"
      *ngIf="task === selectedTask"
      (click)="editTask(task)"
    >
      Edit
    </button>
    <button
      type="button"
      class="btn btn-danger"
      *ngIf="task === selectedTask"
      (click)="deleteTask(task)"
    >
      X
    </button>
    <span class="task-priority" *ngIf="task !== selectedTask"
      >Priority: {{ task.priority }}</span
    >
  </div>
</li>
